
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(247, 247, 247);
}

header, footer {
    background-color: #0c5460;
    color: white;
    padding: 50px 0;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    color: chocolate;
}

ul {
    list-style-type: none;
}

li {
    padding: 5px;
}

footer a, footer a:visited {
    color: white;
}

.content {
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    width: 80%;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: lightslategrey;
    width: 200px;
    height: 100px;
    border: solid 1px lightslategrey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 3px 3px 3px grey;
    font-size: 0.75em;
    transition-duration: 0.5s;
    transition-property: box-shadow, width, height;
}

.card:hover {
    box-shadow: none;
    width: 225px;
    height: 125px;
}

.card-title {
    font-size: 1em;
    padding: 5px 10px;
    margin: -10px;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}

.card-body {
    color: white;
    padding: 10px 0;
}

.box {
    padding: 20px;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.box:hover {
    background-color: lightskyblue;
}