
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header, footer {
    background-color: #0c5460;
    color: white;
    padding: 50px 0;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    color: chocolate;
}

footer a, footer a:visited {
    color: white;
}

.content {
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    width: 80%;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 200px;
    height: 100px;
    border: solid 1px grey;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 3px 3px 3px grey;
    font-size: 0.75em;
    transition-duration: 0.5s;
    transition-property: box-shadow;
}

.card:hover {
    box-shadow: none;
}

.box {
    padding: 20px;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.box:hover {
    background-color: lightskyblue;
}