
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(247, 247, 247);
}

header, footer {
    background-color: #2C3E50;
    color: white;
    padding: 50px 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: sandybrown;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px;
}

.content {
    background-color: rgb(247, 247, 247);
    margin: 0 auto;
    max-width: 1000px;
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: lightslategrey;
    width: 300px;
    border: solid 1px lightslategrey;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 3px 3px 3px grey;
    font-size: 0.75em;
    transition-duration: 0.5s;
    transition-property: box-shadow, width, height;
    color: whitesmoke;
}

.card:hover {
    box-shadow: none;
}

.card-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin: 0;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.25);
    min-height: 50px;
}

.card-title {
    font-size: 1em;
    margin: 0;
}

.card-body {
    margin-top: 10px;
}

.box {
    padding: 20px;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.card-body-element {
    display: block;
    margin-bottom: 10px;
}